<!--
  Generated template for the DisplayPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Select Country</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-searchbar [(ngModel)]="searchTerm" [formControl]="searchControl" (ionInput)="onSearchInput()"></ion-searchbar>
 
    <div *ngIf="searching" class="spinner-container">
        <ion-spinner></ion-spinner>
    </div>
    <ion-list>
      <ion-item *ngFor = "let c of country; let i= index" (click)="coSelect(i)">      
        {{c.name}} &nbsp;  {{c.phonecode}} &nbsp; {{c.call_rate}}
        <!-- "https://www.countryflags.io/{{c.code}}/flat/40.png" -->  
        <!-- <img src="http://www.geonames.org/flags/x/{{c.code}}.gif"  align='center'>          -->
      </ion-item> 
    </ion-list>
</ion-content>
