page-home {

    ion-content{
    //    background-color: color($colors, pale);
    width: 100%;
    height: 100%;
    }

    ion-input{
        font-size: 1.5em;
        text-decoration-style: solid;
    }
        
    .btn button{
        -webkit-text-fill-color:color($colors, pale);
        border: 0px;
        align-content: center;
        font-size: 1.3em;
    }

    ion-segment #seg{
        background-color: whitesmoke;
    }

    #pick{
            // margin-top: 10px;
            width: 45px;
            -webkit-text-fill-color:white;
            background-color: #008000;
            border-radius: 100%;
            padding: 25px;
        }
    div #bb{
        background-color: red;;
    }

    .bg{
            width: 100%;
            // background: linear-gradient(20deg,#4E5EFC,#4EE7FC);
            // background: linear-gradient(20deg,#B70EE5,#B770E5);
            background: url("../assets/img/bg.jpg") no-repeat;
    }

    .bb{
        background-color: #b70ee5;//#B770E5;
    }



}



