page-history {


    #sm{
        // font-size:12px;
        // font-style:oblique;
        color:#0000ff;
        text-align: center;

    }

    #hd{
        font-style: oblique;
        font-variant-caps: all-small-caps;
        color:#ff0000;
        font-size: 20px;
        text-align: center
    }

}
