<ion-header>
  <ion-navbar>
    <ion-item id="user">
      <ion-avatar item-start>
        <img src='{{photo}}'>
      </ion-avatar>
      <p text-center>{{username}}</p> 
      <!-- <ion-icon name="notifications" tappable (click)="notification()" item-end></ion-icon> -->
    </ion-item> 
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <button ion-item (click)='profile()'>
      <ion-avatar item-start>
        <ion-icon name='bookmarks'></ion-icon>
      </ion-avatar>
      <h2>My Profile</h2>
      <p>Shows Users Information</p>
      <ion-icon name="arrow-dropright" item-right ></ion-icon>
    </button>
  </ion-list> 

  <ion-list>
     <div ion-item  *ngFor = "let n of topUp, let i=index" text-wrap (click)="toggleLevel1('idx'+i)" [ngClass]="{active: isLevel1Shown('idx'+i)}">
      <ion-avatar item-start>
        <ion-icon name='briefcase'></ion-icon>
      </ion-avatar>
        <h2> {{n.title}} 
         <p id="txt"> Recharge your Account </p>
        <h6 *ngIf="isLevel1Shown('idx'+i)"> 
         <button ion-item class="space" (click)='voucher()'>{{n.name}}</button>
         <button ion-item class="space" (click)='creditc()'>{{n.name1}}</button>
         <button ion-item class="space" (click)='topup()'>{{n.name2}}</button>
        </h6>
      </h2>    
      <ion-icon color="success" item-right [name]="isLevel1Shown('idx'+i) ? 'arrow-dropdown' : 'arrow-dropright'"></ion-icon>    
     </div>    
  </ion-list> 

  <ion-list>
    <button ion-item (click)='setting()'>
      <ion-avatar item-start>
        <ion-icon name='construct'></ion-icon>
      </ion-avatar>
      <h2>Setting</h2>
      <p>Setup Ucalltel Application</p>
      <ion-icon name="arrow-dropright" item-right ></ion-icon>
    </button>
  </ion-list> 

  <ion-list>
    <button ion-item (click)='payment()'>
      <ion-avatar item-start>
        <ion-icon name='archive'></ion-icon>
      </ion-avatar>
      <h2>Payment Information</h2>
      <p>Payment Transactions</p>
      <ion-icon name="arrow-dropright" item-right ></ion-icon>
    </button>
  </ion-list> 

  <ion-list>
    <button ion-item (click)='logout()'>
      <ion-avatar item-start>
        <ion-icon name='power'></ion-icon>
      </ion-avatar>
      <h2>Log Out</h2>
      <p>Sign-out from Ucalltel App</p>
      <ion-icon name="arrow-dropright" item-right ></ion-icon>
    </button>
  </ion-list> 

</ion-content>
