<!--
  Generated template for the PaymentPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Credit Card Payment</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>

  <form [formGroup]="reg" (submit)="submit()" novalidate>
      <ion-item>
        <ion-label floating>Amount</ion-label>
        <ion-select  interface="popover" formControlName="name">
            <ion-option value="{{credit.id}}" *ngFor="let credit of credits; let i= index">{{credit.value}}</ion-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label floating>Card Number</ion-label>
        <ion-input type="text" formControlName="cardNumb" ></ion-input>
      </ion-item>
      <ion-item>
          <ion-label floating>Expire Month</ion-label>
          <ion-select formControlName="month">
            <ion-option value="{{currency.month}}" *ngFor="let currency of mnth">{{currency.day}}</ion-option>
          </ion-select>
        </ion-item>
        <ion-item>
            <ion-label floating>Expire Year</ion-label>
            <ion-select formControlName="year">
              <ion-option value="{{currency}}" *ngFor="let currency of yrs">{{currency}}</ion-option>
            </ion-select>
          </ion-item>
      <ion-item>
        <ion-label floating>CVV</ion-label>
        <ion-input type='text' formControlName="security" maxlength='3'></ion-input>
      </ion-item>
      <ion-item>
        <ion-label item-right>set auto-topup</ion-label>
        <ion-checkbox checked="false" item-right></ion-checkbox>
      </ion-item>
      <p>
        <button ion-button block primary type="submit">MAKE PAYMENT</button>
      </p>
  </form>

</ion-content>
