<!--
  Generated template for the MyprofilePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>  
    <ion-title>MyProfile</ion-title>  
  </ion-navbar>   
 
</ion-header>

<ion-content padding>
  <div text-center id="user">    
    <div text-center>        
      <img src='{{pathForImage(lastImage)}}' [hidden]="lastImage === null" (click)="presentActionSheet()">
    </div>  
    <button ion-button default [hidden]="lastImage !== null" (click)="presentActionSheet()">Add Picture</button> 
    <div *ngIf='upload'>
       <button ion-button (click)='uploadImage()'>upload</button>
    </div>
  </div>
  <ion-item-group *ngIf='size'>   
    <ion-item>
      <!-- <ion-label item-left>Name</ion-label> -->
      <ion-label text-end>{{fname}} &nbsp;{{lname}}</ion-label>
    </ion-item>

    <ion-item-divider>Account Information</ion-item-divider>
      <ion-item>
        <ion-label item-start>
          UcallTel Number
        </ion-label>
        <ion-label text-end>{{ucalltel}}</ion-label>
      </ion-item>    
      <ion-item>
        <ion-label item-start>
          Username
        </ion-label>
        <ion-label text-end>{{username}}</ion-label>
      </ion-item>    
      <ion-item>
        <ion-label item-start>
          Balance
        </ion-label>
        <ion-label text-end>{{userDetails.currency.symbol}}&nbsp;{{balance}}</ion-label>
      </ion-item>  
  </ion-item-group>
  <div text-center>
    <ion-list>
    <button ion-button danger full (click)='changePin()'>Change Password</button>
    <button ion-button primary full (click)='updateProfile()'>Update Profile</button>
    </ion-list>
  </div>
</ion-content>

