page-password {

    .bg{
        border-radius:5%;
        background: url("../assets/img/bg.jpg") no-repeat;//#3ebffb;//linear-gradient(10deg,#4E5EFC,#4EE7FC);
        background-size: cover;
    }

    .item{
        margin-bottom: 2px;
        background: rgba(134, 109, 109, 0);
        border:medium none;
    }
    .input,.icon,.label {
        font-size: 1em;
        color: color($colors, pale);
      }

}
