page-contact-view {
    img{
       
        border-radius:50%;
        width: 100px;
        height: 100px;
    }

    ion-card{
        background-color: brown;
        position: relative;
        text-align: center;
        align-content: center;
        margin-top: 10px;
    }

    ion-card img{
      border-radius:50%;
        width: 100px;
        height: 100px;   
    }

}
